/*! Positron UI for Firefox | License: MPL2.0 */

/* Use square tabs */
#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}

/* Connect tab to address bar */
.tab-background {
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
    margin-block: 1px 0 !important;
}

/* Prevent vertical tab expansion due to overflow */
#scrollbutton-up, #scrollbutton-down {
    border-top-width: 1px !important;
    border-bottom-width: 0 !important;
}

/* Remove padding between tabs */
.tabbrowser-tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Add vertical separator between inactive tabs  */
.tabbrowser-tab:not([first-visible-tab])::before,
.tabbrowser-tab[last-visible-tab]::after {
    content: "";
    display: inherit;
    position: absolute;
    border-left: 1px solid currentColor;
    margin-block: calc(var(--tab-min-height) / 4 - 3px);
    opacity: 0.2;
}

.tabbrowser-tab:is(
    [selected],
    [selected] + .tabbrowser-tab:not([selected]),
    [multiselected])::before,
.tabbrowser-tab:is(
    [selected],
    [multiselected])::after {
    border-color: transparent;
}

.tabbrowser-tab::after {
    margin-left: -1px;
}

/* Reduce spacing between window and pinned tabs by default */
.titlebar-spacer[type="pre-tabs"] {
    width: 12px !important;
}

/* Remove spacing between window and pinned tabs on Windows */
@media (-moz-os-version: windows-win7), (-moz-platform: windows-win7),
  (-moz-os-version: windows-win8), (-moz-platform: windows-win8),
  (-moz-os-version: windows-win10), (-moz-platform: windows-win10) {
    .titlebar-spacer[type="pre-tabs"] {
        display: none !important;
    }
}

/* Remove spacing between pinned tabs and other tabs */
.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* Add context line on selected tab */
#tabbrowser-tabs {
    --tab-line-color: rgb(10, 132, 255) !important;
}

.tab-context-line {
    display: -moz-inline-box !important;
    height: 2px !important;
    border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0 0 !important;
}

.tabbrowser-tab:is([selected], [multiselected]) .tab-context-line {
    background-color: var(--tab-line-color) !important;
}
